@import 'https://fonts.googleapis.com/css?family=Arimo|Karla';
@import 'https://fonts.googleapis.com/css?family=Lato|Metrophobic|Muli|Quicksand|Rubik|Sarala';
body {
  font-size: 1.2rem;
  line-height: 1.5; }

.left-bar {
  font-family: Arimo; }

.left-bar2 {
  font-family: Karla; }

.left-bar3 {
  font-family: Metrophobic; }

.left-bar4 {
  font-family: Lato; }

.left-bar5 {
  font-family: Muli; }

.left-bar6 {
  font-family: Quicksand; }

.left-bar7 {
  font-family: Rubik; }

.left-bar8 {
  font-family: Sarala; }
