@import 'https://fonts.googleapis.com/css?family=Hind+Madurai:300,400'
@import _variables

body
  background: $pageBG
  font-family: 'Hind Madurai', sans-serif
  display: flex
  flex-flow: row nowrap
sup
  vertical-align: super
  font-size: 0.1rem
.ham
  display: none
.window-top_page
  background: $windowBG
  width: 95vw
  height: 30px
  border-radius: 5px 5px 0 0
.button
  width: 12px
  height: 12px
  float: left
  margin: 1vh 1px 1px 10px
  border-radius: 100%
  background: $button
#coral
  background: $coral
#sun
  background: $sun
#lime
  background: $lime
.nav-bar
  width: 235px
  height: 100%
  position: fixed
  left: 0
  background: #262626
  box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.1)
  color: white
  // text-align: center
.nav-bar h1
  margin-top: 40px
  margin-left: 40px
  font-size: 2rem
  font-weight: 400
.nav-bar_items
  color: #545454
  font-size: 1.6rem
  margin-top: 15vh
  margin-left: 40px
  font-weight: 300
  // position: absolute
  // left: 50%
  // transform: translateX(-50%)
.nav-bar_items li
  margin-bottom: 5px
.nav-bar_items ul
  margin-left: 25px
  font-size: 1rem
.nav-bar_items ul > li:first-child
  margin-top: 10px
.nav-bar_items ul > li:last-child
  margin-bottom: 5px
.nav-bar_items ul > li:hover
  color: white
  cursor: default
// .nav-bar_items li:hover
//   color: white
//   cursor: default
.main-content
  margin-left: 235px
  width: 100%
.top-nav
  width: 100%
  height: 100px
  background: $banner
.products
  width: 100%
  height: 100%
  padding: 50px
.filter-container
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  margin-bottom: 50px
.filter
  width: 300px
  height: 60px
  background: $banner
.product-grid
  display: flex
  flex-flow: row wrap
  justify-content: space-between
.product-box
  width: 300px
  height: 300px
  background: $banner
  margin-bottom: 15px
@media (max-width: 500px)
  .ham
    display: block
  .window-top_page, .window-bottom_page
    width: 80vw
